<div class="container">
    <div class="pkm-header">
        <div class="row pkm-container pkm-head-container">
            <div class="pkm-head pkm-tile">
                <h1 style="margin: 0;">Gotta Catch 'Em All</h1>
            </div>
        </div>
    </div>
    <div class="pkm-screen">
        <div class="row pkm-container">
            <div class="pkm-scrn pkm-tile">
                <div class="loader" ng-show="pokedexCtrl.isLoading">
                    <img src="img/loader.gif">
                </div>
                <div class="row" ng-show="!pokedexCtrl.isLoading">
                    <div class="col-md-5" style="text-align:center;">
                        <div class="img-cont">
                            <img class="img-responsive" alt="pokeimage" ng-src="img/img/{{pokedexCtrl.currentPokemon.imgLink}}.png">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="pkm-name-box">
                            <div class="pkm-spr-cont">
                                <img class="" alt="pokesprite" ng-src="img/spr/{{pokedexCtrl.currentPokemon.id}}MS.png" style="display: inline;">
                                <div class="pkn-name-cont">
                                    <h3 class="pkn-name">{{pokedexCtrl.currentPokemon.id}} {{pokedexCtrl.currentPokemon.ename}}</h3>
                                </div>
                            </div>
                        </div>
                        <div class="pkm-name-box" style="margin-top: 30px;">
                            <div class="pkm-box-content pkm-types">
                                <div class="auto-inlineblk pokelabel">
                                    <label for="poke-type-id"><strong>Type:</strong></label>
                                </div>
                                <div class="auto-inlineblk" id="poke-type-id">
                                    <poke-type ng-repeat="type in pokedexCtrl.currentPokemon.typeset" type="type"></poke-type>
                                </div>

                            </div>
                            <div class="pkm-box-content pkm-base">
                                <div class="auto-inlineblk pokelabel">
                                    <h4><strong>Base:</strong></h4>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3 col-md-4">
                                        <poke-label labelId="lbl-att" labelName="Attack:" labelVal="{{pokedexCtrl.currentPokemon.base.Attack}}"></poke-label>
                                         <poke-label labelId="lbl-hp" labelName="HP:" labelVal="{{pokedexCtrl.currentPokemon.base.HP}}"></poke-label>
                                        <poke-label labelId="lbl-spatk" labelName="Sp.Atk:" labelVal="{{pokedexCtrl.currentPokemon.base.SpAtk}}"></poke-label>
                                    </div>
                                    <div class="col-xs-3 col-md-4">
                                        <poke-label labelId="lbl-def" labelName="Defense:" labelVal="{{pokedexCtrl.currentPokemon.base.Defense}}"></poke-label>
                                        <poke-label labelId="lbl-speed" labelName="Speed:" labelVal="{{pokedexCtrl.currentPokemon.base.Speed}}"></poke-label>
                                        <poke-label labelId="lbl-SpDef" labelName="Sp.Def:" labelVal="{{pokedexCtrl.currentPokemon.base.SpDef}}"></poke-label>                                            
                                    </div>
                                </div>
                            </div>
                            <div class="pkm-box-content pkm-skills">
                                <div class="pkm-base-lbl">
                                    <label for="pkm-skills-id"><strong>Skills:</strong></label>
                                    <div id="pkm-skills-id">
                                        <div uib-tooltip-template="'pokeskills.html'" class="auto-inlineblk poke-type-box" style="background-color: rgb(195, 195, 195);" ng-repeat="skill in pokedexCtrl.currentPokemon.skillset track by $index">
                                            <h4>{{skill.ename}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pkm-pokelist">
        <div class="row pkm-container pkm-oper-container">
            <div class="pkm-oper pkm-tile">
                <div class="row">
                    <div class="col-md-6">
                        <div class="pkm-oper-search">
                            <form>
                                <div class="form-group form-inline">
                                    <label for="searchPokemon">Search Pokemon by Name</label>
                                    <input type="text" ng-model="search.ename" class="form-control" id="searchPokemon" placeholder="Bulbasaur">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pkm-container pkm-tile pkm-table-cont">
            <div class="loader" ng-show="pokedexCtrl.isLoading">
                <img src="img/loader.gif">
            </div>
            <div class="pkm-list" ng-show="!pokedexCtrl.isLoading">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="th-sort" ng-click="pokedexCtrl.sortBy('id')">
                                ID
                                <sort-icon propertyname="pokedexCtrl.propertyName"
                                           prop="id" reverse="pokedexCtrl.reverse"></sort-icon>  
                            </th>
                            <th class="th-sort" ng-click="pokedexCtrl.sortBy('ename')">
                                Name
                                <sort-icon propertyname="pokedexCtrl.propertyName"
                                           prop="ename" reverse="pokedexCtrl.reverse"></sort-icon>  
                            </th>
                            <th class="th-sort" ng-click="pokedexCtrl.sortBy('typeset')">
                                Type
                                <sort-icon propertyname="pokedexCtrl.propertyName"
                                           prop="typeset" reverse="pokedexCtrl.reverse"></sort-icon>  
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="poke-row" ng-click="pokedexCtrl.selectPokemon(poke);" ng-repeat="poke in pokedexCtrl.pokemons  | orderBy:pokedexCtrl.propertyName:pokedexCtrl.reverse | filter : search:strict" ng-class="{'is-selected' : poke.isRowSelected}">
                            <td><img alt="pokethm" ng-src="img/thm/{{poke.imgLink}}.png" style="width: 40px;"></td>
                            <td>{{poke.id}}</td>
                            <td>{{poke.ename}}</td>
                            <td>
                                <div class="auto-inlineblk">
                                    <poke-type ng-repeat="type in poke.typeset" type="type"></poke-type>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>