<div class="header">
    <div class="container">
        <div class="row pkm-container pkm-head-container" style="
    text-align: center;">
            <div class="pkm-head pkm-tile">
                <h1 style="margin: 0;">Gotta Catch 'Em All</h1>
            </div>
        </div>
        <div class="row pkm-container pkm-oper-container">
            <div class="pkm-oper pkm-tile">
                <div class="row">
                    <div class="col-md-6">
                        <div class="pkm-oper-search">
                            <form>
                                <div class="form-group form-inline">
                                    <label for="searchPokemon">Search Pokemon by Name</label>
                                    <input type="text" class="form-control" id="searchPokemon" placeholder="Bulbasaur">
                                </div>
                            </form>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pokescreen">
    <div class="container">
        <div class="row pkm-container">
            <div class="pkm-scrn pkm-tile">
                <div class="row">
                    <div class="col-md-5" style="text-align:center;">
                        <div class="img-cont" style="width:50%; display: inline-block;">
                             <img class="img-responsive" alt="pokeimage" ng-src="img/img/{{pokedexCtrl.currentPokemon.imgLink}}.png">
                        </div>                       
                    </div>                    
                    <div class="col-md-7">
                      <div class="pkm-name-box">
                          <div class="pkm-spr-cont">
                            <img class="" alt="pokesprite" ng-src="img/spr/{{pokedexCtrl.currentPokemon.id}}MS.png" style="display: inline;">
                            <div class="pkn-name-cont">
                                <h3 class="pkn-name">{{pokedexCtrl.currentPokemon.id}} {{pokedexCtrl.currentPokemon.ename}}</h3>
                            </div>
                          </div>
                      </div>
                      <div class="pkm-name-box" style="margin-top: 30px;">
                          <div class="pkm-box-content pkm-types">
                              <div class="auto-inlineblk pokelabel">
                                  <label for="poke-type-id"><strong>Type:</strong></label>
                              </div>
                              <div class="auto-inlineblk" id="poke-type-id">
                                  <poke-type ng-repeat="type in pokedexCtrl.currentPokemon.typeset" 
                                         type="type"></poke-type>
                              </div>
                              
                          </div>
                          <div class="pkm-box-content pkm-base">
                              <div class="auto-inlineblk pokelabel">
                                  <h4><strong>Base:</strong></h4>
                              </div>                              
                              <div class="">
                                  <div class="row">
                                      <div class="col-xs-3 col-md-4">
                                           <div class="pkm-base-lbl">
                                            <label for="lbl-att">Attack:</label><h4 class="auto-inlineblk" id="lbl-att">{{pokedexCtrl.currentPokemon.base.Attack}}</h4>
                                          </div>
                                          <div class="pkm-base-lbl">
                                            <label for="lbl-hp">HP:</label><h4 class="auto-inlineblk" id="lbl-hp">{{pokedexCtrl.currentPokemon.base.HP}}</h4>
                                          </div>
                                          <div class="pkm-base-lbl">
                                            <label for="lbl-spatk">Sp.Atk:</label><h4 class="auto-inlineblk" id="lbl-spatk">{{pokedexCtrl.currentPokemon.base.SpAtk}}</h4>
                                          </div>                                           
                                      </div>
                                      <div class="col-xs-3 col-md-4">
                                          <div class="pkm-base-lbl">
                                            <label for="lbl-def">Defense:</label><h4 class="auto-inlineblk" id="lbl-def">{{pokedexCtrl.currentPokemon.base.Defense}}</h4>
                                          </div>
                                          <div class="pkm-base-lbl">
                                            <label for="lbl-spe">Speed:</label><h4 class="auto-inlineblk" id="lbl-spe">{{pokedexCtrl.currentPokemon.base.Speed}}</h4>
                                          </div>
                                          <div class="pkm-base-lbl">
                                            <label for="lbl-spdef">Sp.Def:</label><h4 class="auto-inlineblk" id="lbl-spdef">{{pokedexCtrl.currentPokemon.base.SpDef}}</h4>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="pkm-box-content pkm-skills">                            
                              <div class="pkm-base-lbl">
                                  <label for="pkm-skills-id"><strong>Skills:</strong></label>
                                  <div id="pkm-skills-id">
                                      <div class="auto-inlineblk poke-type-box" style="background-color: rgb(195, 195, 195);" ng-repeat="skill in pokedexCtrl.currentPokemon.skillset track by $index">
                                        <h4>{{skill.ename}}</h4>
                                      </div>
                                  </div> 
                              </div>                                                           
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pokelist">
    <div class="container">
        <div class="row pkm-container pkm-tile pkm-table-cont">
            <div class="pkm-list">
                <table class="table">
                    <thead>
                      <tr>
                          <th style="width: 50px;"></th>
                          <th>ID</th>
                          <th>Name</th>
                          <th>Type</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="poke-row" ng-click="pokedexCtrl.selectPokemon(poke);" ng-repeat="poke in pokedexCtrl.pokemons" ng-class="{'is-selected' : poke.isRowSelected}">
                          <td><img alt="pokethm" ng-src="img/thm/{{poke.imgLink}}.png" style="width: 40px;"></td>
                          <td>{{poke.id}}</td>
                          <td>{{poke.ename}}</td>
                          <td><div class="auto-inlineblk">
                                  <poke-type ng-repeat="type in poke.typeset" 
                                         type="type"></poke-type>
                              </div>
                          </td>
                      </tr>
                    </tbody>
  </table>
            </div>
        </div>
    </div>
</div>